body{
	font-size: 32px;
	margin: 0;
}
h1{
	margin: 10px;
}
.intro{
	background: url('../img/artem/Artembgrd.jpeg') center no-repeat;
	width: 100%;
	height: 190vh;
	 -webkit-background-size: cover;
	background-size: cover; 
}
.container{
	width: 85%;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
}


.text{
	margin-top: 50px;
	float: left;
	width: 60%;
}
  .header{
	font-family: 'Playfair Display', serif ;
	color: #fff;
}
  .mainContent{
	font-family: 'PT Sans', sans-serif;
	color: #F0E9E9;
	margin-top: 90px;
}
#back{
	width: 150px;
}
address{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	color: rgba(0, 0, 0, 0.75);
}
button{
	display: none;
}


.photo{
	float: left;
	width: 30%;
	margin-top: 100px;
	margin-left: 3%;
	margin-bottom: 70px;
}


.links{
	float: right;
	margin-right: 20%;
	margin-top: 1rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.links img{
	margin-right: 5rem;
}
#vkk{
	position: relative; 
	top: 10px;
}
a{
	text-decoration: none;
}
@media (max-width: 1023px) {
	body{
		font-size: 23px;
	}
	
	.links img{
		height: 70px;
		margin-right: 3rem;
	}
	.links{
		margin-right: 15%;
	}
	#vkk{
	position: relative; 
	top: 10px;
	height: 50px;
}
}
@media (max-width: 767px) {
	.container,.text,.photo{
		margin: 0 auto;
		text-align: center;
		float: none;
		display: block;
		width: 80%;
	}
	.wrap{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column-reverse;
	}
	address{
		text-align: left;
		font-size: 25px;
	}
	.photo{
		margin-top: 20px;
		width: 60%;
	}

	.links img{
		display: none;
	}
	.links{
		width: 100%;
		margin: 0 auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;

	}
	.email{
		order: 1;
	}
	button{
		display: block;
		width: 100%;
		margin-top: 10px;
		border-radius: 5px;
		height: 35px;
		color: #FDFDFD;
		font-family: 'Playfair Display', serif ;
	}

	button:active{
		background-color: rgba(98, 96, 99, 0.9);
		border-color:rgba(98, 96, 99, 0.9); 
	}

}

